<div style="margin:10px; padding: 20px; border-radius:10px; color: white" class="bg-dark">
  <h1><b>Informaci칩n de la p치gina</b></h1><br>
  <p>
    <b>Base de datos subida en</b> <a href="https://neon.tech">Neon Tech</a><br>
    <b>Compilador utilizado </b><a href="https://stackblitz.com">Stackblitz</a><br>

    <br><br>
    <b>Asignatura:</b> Bases de Datos<br>
    <b>Secci칩n:</b> 01<br><br>
    
    
    <div style="margin-bottom: 20px;">
    <b>Creada por:</b>
    Grupo 10<br>
    <b>Integrantes:</b>
    <ul>
      <li>Mair Escobar</li>
      <li>Francisco Pi침era</li>
      <li>Felipe Roa</li>   
    </ul>
  </div>
</div>
<div class="text-center"><img class="w-25" src="https://media1.tenor.com/m/EWuNdhEYlVkAAAAd/kriziebizie-krizziebuoy.gif"></div>

